.header-one {
    color: #882bee;
    background-color: #ffaaff;
    font-family: "Times New Roman", sans-serif;
}

.header-two {
    font-family: sans-serif;
    font-weight: bold;
}

.ingredients {
    background-color: black;
    color:whitesmoke
}

.steps {
    background-color: aqua;
    color:red
}